* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*:root {
	--blue: #39add1;
}*/
html {
	font-family: sans-serif;
	font-size: 15px;
}
ul {
	list-style-type: none;
}
img{
	border-radius: 50%
	   max-width: 100%;
    height: auto;
}
body {
	opacity: 3;
  
   /*background-image: url("../images/glacier.jpg");*/
   background-size: 100%;
   background-color: black;
}
.container{
	margin: 0 auto;
	display: grid;
	 grid-column-gap: 50px;
	width: 1000px;
	  font: 15px arial, sans-serif;

}

main{
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-column-gap: 50px;
	min-height: 90vh;
}

.bio{
	color: white;
	background-color: gray;
	border-style:solid;
	border-radius: 20px;
	border-color: white;
	border-width: .5rem;
	float: left;
	padding: 2rem 5rem 7rem .5rem;
	text-align: left;
	font-size: 20px;
	margin-top: .4rem;

}

h1{
	margin-top: 1rem;
text-align: center;
color: white;
 border-style: none;
 font-style: sans-serif
}
.social{
	background-color: gray;
	border-style: solid;
	padding: 2rem .5rem 10rem .5rem;
	text-align: center;
	color: white;
	font-size: 20px;
}
.news-feed{
	border-style: ridge;
	border-width: .2rem;
	background-color: gray;
	color: white;
	float:right;
	text-align: right;
	margin-top: 2rem;
}
.news-feed figure{
	width: 100px;
	border-radius: 50%;
	float: center;

}

.navigation{
	text-align: center;
	list-style-type: block;
}
.closing{
	text-align: center;
	border-style: hidden;
	color: white;
}
.hero-text{
	text-align: center;
	color: white;
	margin-top: .2rem
	margin-bottom: .2rem;
	border-style: ridge;
	min-height: 30vh;
	min-width: 100%;
	
}
.hero-image{
	background-image: url("../images/space.jpg");
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}